* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
 @media (max-width: 1440px){
  width: 100%;
 };
 @media(min-width: 400px){
  width: 100%
 }
  margin-left: 20px;
}
.Header{
  width: 1000px;
  height: 64px;
  background-color: #0073a4;
  display: flex;
  justify-content: left;
  

}
.CatsImg{
  width: 225px;
  height: 225px;
}
.CatsConteiner{
  width: 1000px;
  margin-top: 15px;
  
}
.CatsList{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}
.checked{
  width: 48px;
  height: 48px;
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    top: -60px;
    right: -160px
}